.btn-2{
    
width: 400px;
height: 50px;
/* top: 1081px; */
border-radius: 5px;
/* left: 499px; */
font-size: 20px;

}

.border-none{
    border: 1px;
    border-color: #DDDDDD;
    border-style: solid;
    
}


/* height: 67px
top: 1081px
left: 499px
border-radius: 5px */
/* width: 438.55px */
